FORMAT: 1A
HOST: http://tinkerware.io

# Cart API
An API that manages the user's Cart

# Group Cart
Resources related to the user's cart

## Cart Collection [/api/v1/cart/{id}]
+ Parameters
    + id: `1` (number, required) - `id` of a cart

### Get an Cart [GET]
+ Request

    + Header

            authorization: Bearer qphYSqjEFk1RcFxYqqIIFk4vaBJvDoBr3t9aHTp1JFEAO0NS7ECyLJJyUPybOUNf


+ Response 200 (application/json)

    + Header

            authorization: Bearer qphYSqjEFk1RcFxYqqIIFk4vaBJvDoBr3t9aHTp1JFEAO0NS7ECyLJJyUPybOUNf

    + Body

            {
              "cart": {
                  "id": 1,
                  "user_id": 1,
                  "products": {
                    "products": [
                      {
                        "id": 1,
                        "title": "Product",
                        "description": "A product from Acme's catalog",
                        "price": 19.99
                        "image": "http://localhost/somestuff.jpg"
                      },
                      {
                        "id": 2,
                        "title": "Product",
                        "description": "A product from Acme's catalog",
                        "price": 19.99
                        "image": "http://localhost/somestuff.jpg"
                      },
                      {
                        "id": 3,
                        "title": "Product",
                        "description": "A product from Acme's catalog",
                        "price": 19.99
                        "image": "http://localhost/somestuff.jpg"
                      }
                    ]
                }
              }
            }